.about
  .about-header
    .header-image
      = image_tag('about-header.jpeg')
    #header-content
      %h2 Insight into my life
  .content-section
    .personal.about-section
      %h1 Sam I Am
      #personal-img
        = image_tag('personal-picture.png', alt: "Personal Picture", class: "profile-pic")
      .personal-desc
        %p
          My name is Joe Marion. I was a <a href="https://en.wikipedia.org/wiki/Joint_terminal_attack_controller">JTAC</a> for the United States Air Force who is transitioning out of the military. I started developing in 2014, but only recently began pursuing it as a career. While I was in the military I created two separate applications to help study for certification and re-current exams that were annual. The first was a basic macro built within Excel and the second was an iPhone app built back before Swift was the language. The applications were so well received, it opened my eyes into software developing.
        %p
          I have always been a computer person. I have been the honorary IT guy between my family and friends since I was twelve. I admittingly spent the majority of childhood behind a screen, so long as wrestling or football was out of season. After deploying the iOS app and getting great responses it just made sense. I love doing what I do and I could not see it any other way. I truly am going for what I love to do, and how many people can say that?
        .rule
          %hr/
    .lifestyle.about-section
      %h1 Desired lifestyle
      %p
        My family and I decided not to re-enlist with the United States Air Force to pursue our dream of travelling. After having two kids and spending a lot of time away from each other, we decided to go after the full-time RV lifestyle. We have a little bit of time until our oldest starts school so it's now or never! We are an all or nothing family, when we jump in, we dive head first. We rid ourselves of about 80-90% of our belongings and bought a class A vehicle. We want to work remotely while travelling to as many locations in the U.S.A as we can.
      %p
        The transition has been tough, but we think it will be worth it. We've spent a significant amount of planning and hit our fair share of bumps in the road, but they don't call it the entitlement of happiness.
    .rule
      %hr/
    .family.about-section
      %h1 Family Life
      #family-img= image_tag('family-pic.jpg', alt: "Family Picture", class: "profile-pic")
      %p#family-desc
        Time away from family has really shown me what's most important. The friends and family around you are pivotal in our lives and they shouldn't be sloughed off. I spent my fair share of time assuming the people in your lives are always there, but you need to fight for what you believe in. That is why we are doing anything we can to pursue our dream of breaking free from the norm. We want to travel, meet more people, and make more friends. The full-time RV community is a tight one and we want to be part of a strong family. Once we are on the road we will make our blog public and show what it takes for a commitment like this.
