.about
  .about-header
    .header-image
      = image_tag('about-header.jpg')
    #header-content
      %h2 Personal history
  .content-section
    .about-section
      %h1 Sam I Am
      #personal-img
        = image_tag('personal-picture.png', alt: "Personal Picture", class: "profile-pic")
      %p
        Deep in the past, I followed high school by hitchhiking around the US and Canada for several years.  I rode cars, trains and airplanes.  Life was simpler then!  Hitchhiking is a paradox: one is utterly free but totally dependent on others to get around.  Eventually, I settled in San Francisco and after a few years decided it was time to be college bound.  Still restless, I guess, I attended three colleges before graduating from the University of Washington with a Bachelor's in Biology.
      %p
        From there I went to Utah to earn a doctorate in Evolution & Behavior.  I worked with a parasitic wasp whose females have behavioral control over the gender of their offspring.  My work was funded with the first full-fledged research grant ever awarded to a graduate student and resulted in publications in both <em>Science</em> and <em>Nature</em>.  I worked hard but also was lucky.  As graduate students, we rock-climbed in the summer and cross-country skied in the winter.  We camped out  year-round regardless of temperature. The night-time skies in Utah were magnificent!
      %p
        I then kicked around a couple of post-docs in Madison, WI and Chicago before landing a job as Assistant Professor at Indiana University.  I spent 8 years there continuing my wasp research and mentoring a series of graduate students.  Eventually, I moved to Emory University as a research professor.  I was married here in Atlanta and soon had two daughters.
      %p
        After a couple years at Emory, I decided to leave academia (that 16-year itch).  Plan was to launch a startup, but events intervened and I ended up a single dad with two young daughters to raise on my own.  As a consequence, I switched from an intensive start-up experience to working in health insurance sales.  OneSource Brokers, Inc. was founded in 1996 and was a successful business for the next 17 years.  During that time, I invented a cost-risk sales approach that became widely used in the industry.
      %p
        When my youngest daughter was about to head off to college I decided to sell the business and try my hand at something completely new.  IT and software engineering seemed to be where the action is so I wanted to work my way in.  I took a code immersion course in Ruby on Rails and was promptly hired to teach the same course in the following iteration.    
      .rule
        %hr/
      %h1 Family Life
      #family-img= image_tag('sarah.jpg', alt: "Family Picture", class: "profile-pic")
      %p
        Being a biologist, I delivered both my daughters.  (I did the work but, geez, our obstetrician still sent us a bill!)  Not long after my youngest was born, I became a single dad responsible for raising two girls on my own.  First, I tried pawning them off to siblings or neighbors but that met unexpected resistance so I changed my career plans instead.  Working in sales allowed me the flexibility to undertake tasks of being room mom (Apparently, I’m a pretty good cross-dresser.) and inventing silly games for their tea parties.  But eventually they graduated from the pinks and the purple dinosaur.  
      %p
        We learned to handle girlfriends and negotiate boyfriend relationships.  They learned to drive and relished that first taste of real freedom.  They took their first jobs, earning some spending money.  And finally I was able to pawn them off to colleges; Hope Scholarships in hand.
      %p#family-desc
        I love my kids.
