.home
  .index-header
    .header-image
      = image_tag('polychaete.jpg')
    #header-content
      %h2 Full-stack developer with a passion for
      %p
        RUBY ON RAILS
  .rule
    %hr/
  .background-desc
    %h1 A brief overview
    %p Hi, my name is Sam Skinner and I seem to have a 16-year attention span. After a career of that length in academia, I had an equally long stint as a business owner.  By mid-2014, I was eager for a change and dove headlong into programming. I have been a Ruby on Rails developer since then and look forward to working for another decade at least.  I love learning; I also love working hard.  With my kids off to college, I can <strong>devote full-time</strong> to my new career.
    %h3 <strong>< Hire me now! ></strong>
    %p


