.home
  .index-header
    .header-image
      = image_tag('index-header.jpeg')
    #header-content
      %h2 Full stack developer with a passion for
      %p
        RUBY ON RAILS
      %p.header-buttons
        = link_to 'about', about_path, id: "contact-but"
        = link_to 'resume', resume_path, id: "resume_but"

  .rule
    %hr/

  .background-desc
    %h1 A brief background
    %p
      My interest in web development stemmed from my passion for community. Software development to me has become a way of giving back to others. My love for this work sparked when I saw a need that could help hundreds of people at my last job and the feeling of satisfaction from hard work is even more fruitful when it has a positive impact. Help others, live for adventure.

