.resume
  .resume-header
    .header-image
      = image_tag('resume-header.jpeg')
    #header-content
      %h2 Resume
    .rule
      %hr/
  .content-section
    .objective-container
      %h2 Objective
      %br
      %p
        Seeking a permanent, full-time, position with a dynamic team-oriented company.  Full Stack.  Eager to learn new technologies and deepen my experience with current ones.  Prefer to work on location.
    .summary-container
      %h2 Summary
      #indent0 &#8212;&nbsp; 2-plus years experience in application development using <strong>Ruby on Rails,</strong>
      #indent1 <strong>MySQL & Postgres, &nbsp; Bootstrap & Foundation,</strong>
      #indent2 <strong>Javascript & JQuery, &nbsp; CSS3, HTML5 & haml.</strong>
      %p &#8212;&nbsp; Proficient with <strong>git, github & bitbucket</strong> as well as the IDE <strong>Sublime Text 3</strong>.
      %p &#8212;&nbsp; Good <strong>Unix</strong> skills.
      %p &#8212;&nbsp; Extensive experience with <strong>Model-View-Controller (MVC)</strong> and <strong>RESTful architectures</strong>.
      %p &#8212;&nbsp; Moderate experience using <strong>ActiveRecord</strong> and raw <strong>SQL</strong> statements with relational databases (<strong>MySQL, Postgres</strong>) and with Postgres database administration.
      %p &#8212;&nbsp; Skilled at <strong>working directly with clients</strong>, including prospecting, vetting, collecting project requirements, app design and cost estimation, negotiating and setting client expectations.  
      %p &#8212;&nbsp; Strong <strong>communication, problem-solving, and planning skills</strong>, with ability to work independently or in a team environment.  Prefer teams.
      #indent0 &#8212;&nbsp; Very experienced with <strong>statistical analysis</strong>, moderately skilled with <strong>R and RStudio</strong>.
    .projects-container
      #projects-pic
        #spacing .
        #haze
          .img-header &nbsp;Projects for Review
          .img-subheader &nbsp;(most recent first)
      %br    
      %a{href: "http://anovaanalytics.com/index.php", target: "new"} Anova Analytics
      %p Solo project, a Joomla website
      %a{href: "http://mreeves85.wixsite.com/redwood37", target: "new"} Team Solutions
      %p Joint project, Rails 4.2.4, 85% back-end, me, 60% front, me, currently in beta
      %a{href: "http://jobs.techtalentsouth.com", target: "new"} Tech Talent South
      %p Solo project, a Rails 4.2 website
      %a{href: "https://github.com/samskinnerphd/euler_solutions", target: "new"} Project Euler
      %p Solo project, uses Ruby to solve Project Euler math challenges
      #spacing2 .
    .professional-container
      #professional-pic
        %h2.img-header Professional Experience
      .photo-credit Base-Jumping, LeeJackson1989 
      #company <strong>CodeRiver Software, LLC., Atlanta</strong> – <em>A Web Development Agency</em>
      %p Software Engineer
      #dates SEPTEMBER 2016 – PRESENT
      %p &nbsp;&nbsp; — &nbsp; Freelance Ruby on Rails projects for three separate companies including both front- and back-end work. Front-end: D3.js, Foundation, JQuery, CSS & HTML.  Back-end: both Mysql and Postgres.
      %br
      #company <strong>CodeGuard Inc., Atlanta</strong> – <em>Website Backups in the Cloud</em>
      %p Software Engineer
      #dates MARCH 2016 – AUGUST 2016
      %p &nbsp;&nbsp; — &nbsp; Helped develop and maintain the CodeGuard Ruby on Rails application. 
      %p &nbsp;&nbsp; — &nbsp; Worked in a VirtualBox and vagrant environment.
      %p &nbsp;&nbsp; — &nbsp; Added new feature for Bulk Import of csv files containing data to SFTP or SSH into client websites.
      %p &nbsp;&nbsp; — &nbsp; Front-end development using JQuery, CSS, HTML and haml to create new data pages, add fields and improve layouts to various forms, and install a phone number syntax verification system for national and international phone numbers.
      %p &nbsp;&nbsp; — &nbsp; Spearheaded an evaluation of competitor’s website backup systems including speed testing, UX design, evaluation of ease of use, etc.
      %p &nbsp;&nbsp; — &nbsp; Monitored status of cron jobs on AWS (EC2, S3, CloudWatch).  On-call 24/7 via PagerDuty every five weeks.  Accessed log files for troubleshooting.
      %p &nbsp;&nbsp; — &nbsp; Provided L2 customer service. Specifically I assisted customers with problems using SFTP, SSH or direct MYSQL to configure their sites for daily backups.  Troubleshoot connection problems.
      %br
      #company <strong>Rietta Inc., Atlanta</strong> – <em>A Web Development Agency</em>
      %p Rails Developer / Account Manager & Business Development 
      #dates JANUARY 2015 – MARCH 2016
      %p &nbsp;&nbsp; — &nbsp; Developed and maintained Ruby on Rails applications for multiple clients.  
      %p &nbsp;&nbsp; — &nbsp; Upgraded & refactored legacy applications to utilize newer versions of Ruby and Rails.
      %p &nbsp;&nbsp; — &nbsp; Spearheaded a redesign of main company website (atlantarubydevelopers.com) using JQuery for slideshow and CSS for better layouts.
      %p &nbsp;&nbsp; — &nbsp; Rewrote most content of same for better focus and branding.
      %p &nbsp;&nbsp; — &nbsp; Interacted directly with prospects and clients to identify, prioritize and implement features.  
      %p &nbsp;&nbsp; — &nbsp; Sourced new business.  
      %p &nbsp;&nbsp; — &nbsp; Managed team workflow using PivotalTracker.
      %p &nbsp;&nbsp; — &nbsp; Developed a set of forms to standardize the vetting process for prospects and facilitate the capture of requirements for new clients.
      %br
      #company <strong>Tech Talent South, Atlanta</strong> – <em>Code Immersion School</em>
      %p Instructor/Developer
      #dates SEPTEMBER 2014 – MARCH 2015
      %p &nbsp;&nbsp; — &nbsp; Taught introductory courses on web development using Ruby on Rails, SQLite and Bootstrap.  
      %p &nbsp;&nbsp; — &nbsp; Solely responsible for developing a jobs portal for TTS alumni (jobs.techtalentsouth.com) using Ruby on Rails 4.2 and a Postgres database with multiple tables.
      %p &nbsp;&nbsp; — &nbsp; Set up original hosting on Heroku (both dev and production versions).  
      %p &nbsp;&nbsp; — &nbsp; Created an email verification system to vet new signups as TTS alumni.
      %br
      #company <strong>OneSouce Brokers Inc., Atlanta</strong> – <em>A Health Insurance Agency</em>
      %p Founder, Owner, CEO
      #dates 1996 – JUNE 2014
      %p &nbsp;&nbsp; — &nbsp; Developed original marketing strategies.
      %p &nbsp;&nbsp; — &nbsp; Inventor of cost-risk analysis to inform health insurance purchases, now widely used in the industry.
      %p &nbsp;&nbsp; — &nbsp; Broker of health insurance and employee benefits.
      %br
      #company <strong>Indiana & Emory Universities</strong>
      %p Assistant Professor of Biology
      #dates 1985 – 1996
      %p &nbsp;&nbsp; — &nbsp; Research professor in evolution and behavior, population genetics.
      %p &nbsp;&nbsp; — &nbsp; Author of 16 scientific papers, including multiple publications in Science and Nature.
      %p &nbsp;&nbsp; — &nbsp; Public Speaker with over 50 invited lectures, both national and international.
      %p &nbsp;&nbsp; — &nbsp; Taught courses in Behavior, Ecology, Evolution, Genetics, Population Genetics and the Evolution of Learning.
      %br
      %br
      %br
    .education-container
      #education-pic
        %h2.img-header Education
      %ul
        %li Anova Analytics – Predictive Analytics using R and RStudio, 60 hour course, Fall 2016
        %li Tech Talent South – Ruby on Rails Web Development, Summer 2014.
        %li University of Utah – Ph.D. in Biology, 1983.
        %li University of Washington – B. A. in Biology, 1978.

    %div{style:"clear:both;"}

