.resume
  .resume-header
    .header-image
      = image_tag('resume-header.jpeg')
    #header-content
      %h2 Resume
    .rule
      %hr/
  .content-section
    .objective-statement
      %h2 Objective Statement
      %p
        Software developer with expertise on Ruby on Rails, web frameworks and other programming languages, and a passion for Web 2.0 trends. Proven ability to manage groups of people. Dedicated team leader with high attention to detail.
    .dbc-container
      #dbc-pic
        %h2.img-header DevBootcamp
        %p.dbc-dates 2015-2016
      .dbc-desc
        %p
          19-week intensive program that focuses on Ruby, JavaScript, Ruby on Rails, common JavaScript libraries, SQL, HTML and CSS, as well as pair programming, agile and test driven development.
        %p
          The program focused on team skills like communication, empathy and effective feedback.
    .usaf-container
      #usaf-pic
        %h2.img-header United States Air Force
        %p.afdates 2010-2015
      .jtac
        = image_tag('JTAC.jpg', id: "jtac-img")
        .jtac-content
          %h3 Joint Terminal Attack Controller
          %p Fort Drum, New York (2012 - 2015)
          %p Khost Province, Afghanistan (2013 - 2014)
          %ul
            %li
              Developed an iOS application in Objective-C while deployed to Afghanistan, after the career field identified a need for a mobile certification study tool.
            %li
              Senior Air Force Leader in charge of main defensive force for a highly active province of Afghanistan.
            %li
              De-confliction authority for over $100 million worth of fixed-wing aircraft.
      .rule
        %hr/
      .romad
        .romad-content
          %h3 Radio Operator Maintainer & Driver
          %p Fort Drum, New York (2011 - 2013)
          %ul
            %li
              Developed a work related application that is considered the standard study material for a career field of over 4,000 people in order to be certified combat-mission ready.
            %li
              Built an efficient materiel-control program that oversaw over $300 million worth of equipment and cut down inventory time by 95%.
            %li
              Orchestrated annual team building multi-day event that effectively certifies 40-60 people per year.
        = image_tag('romad.jpg', id: 'romad-img')
      %div{style:"clear: both;"}

    .education
      #edu-header
        %h2.img-header Education
      %ul
        %li
          Dev Bootcamp Graduate, San Francisco, CA - 2016
        %li
          Associates, Information and Systems Technology, Community College of the Air Force - 2015
    .training
      .training-header
        %h2.img-header
          Military Training - Certifications - Awards
      .cert-award
        .certs
          %h3 Training/Certifications
          %ul
            %li
              Trained to be a trainer/instructor (20 hours), Fort Drum, NY - 2015
            %li
              Combat Lifesaver Course (50 hours), Fort Drum, NY - 2014
            %li
              Joint Terminal Attack Controller (300 hours), Fort Drum, NY - 2013
            %li
              Tactical Air Control Party Apprenticeship (1,040 hours), Hurlburt Field, FL - 2012
        .rule
          %hr/
        .awards
          %h3 Awards
          %ul
            %li
              Air Force Commendation Award – Fort Drum, NY 2015
            %li
              Army Commendation Award – Fort Drum, NY 2014
            %li
              Afghanistan Campaign Medal – Long Term – Fort Drum, NY 2014
            %li
              Army Achievement Medal – Fort Drum, NY 2012 and 2014
        %div{style:"clear:both;"}

