.resume
  .resume-header
    .header-image
      = image_tag('resume-header.jpeg')
    #header-content
      %h2 Resume
    .rule
      %hr/
  .content-section
    .objective-statement
      %h2 Objective Statement
      %p
        Seeking a permanent, full-time, position with a dynamic team-oriented company.  Full Stack.  Eager to learn new technologies and deepen my experience with current ones.  Prefer to work on location.
    .dbc-container
      #dbc-pic
        %h2.img-header Academia / Research
        %p.dbc-dates 1980-1996
      .dbc-desc
        %p
          19-week intensive program that focuses on Ruby, JavaScript, Ruby on Rails, common JavaScript libraries, SQL, HTML and CSS, as well as pair programming, agile and test driven development.
        %p
          The program focused on team skills like communication, empathy and effective feedback.
    .usaf-container
      #usaf-pic
        %h2.img-header United States Air Force
        %p.afdates 2010-2015
      .jtac
        = image_tag('woven_kruskals.png')
        .jtac-content
          %h3 Joint Terminal Attack Controller
          %p Fort Drum, New York (2012 - 2015)
          %p Khost Province, Afghanistan (2013 - 2014)
          %ul
            %li
              Developed an iOS application in Objective-C while deployed to Afghanistan, after the career field identified a need for a mobile certification study tool.
            %li
              Senior Air Force Leader in charge of main defensive force for a highly active province of Afghanistan.
            %li
              De-confliction authority for over $100 million worth of fixed-wing aircraft.
      .rule
        %hr/
      .romad
        .romad-content
          %h3 Radio Operator Maintainer & Driver
          %p Fort Drum, New York (2011 - 2013)
          %ul
            %li
              Developed a work related application that is considered the standard study material for a career field of over 4,000 people in order to be certified combat-mission ready.
            %li
              Built an efficient materiel-control program that oversaw over $300 million worth of equipment and cut down inventory time by 95%.
            %li
              Orchestrated annual team building multi-day event that effectively certifies 40-60 people per year.
        = image_tag('romad.jpg', id: 'romad-img')
      %div{style:"clear: both;"}

    .education
      #edu-header
        %h2.img-header Education
      %ul
        %li
          Dev Bootcamp Graduate, San Francisco, CA - 2016
        %li
          Associates, Information and Systems Technology, Community College of the Air Force - 2015
    .training
      .training-header
        %h2.img-header
          Training - Awards
        %p.training-dates 2014-2016
      .cert-award
        .certs
          %h3 Recent Training
          %ul
            %li
              Predictive Analytics using R (10 weeks, 60 hrs), Atlanta, GA - 2016
            %li
              Code Immersion BootCamp: Ruby on Rails (8 weeks), Atlanta, GA - 2014
        .rule
          %hr/
        .awards
          %h3 Awards
          %ul
            %li
              Air Force Commendation Award – Fort Drum, NY 2015
            %li
              Army Commendation Award – Fort Drum, NY 2014
            %li
              Afghanistan Campaign Medal – Long Term – Fort Drum, NY 2014
            %li
              Army Achievement Medal – Fort Drum, NY 2012 and 2014
        %div{style:"clear:both;"}

