.letter
  .letter-header
    .header-image
      = image_tag('tree-base.jpg')
    .photo-credit    
      %p Photo Credit: Andrew Goldsworthy
  .welcome
    %h1 Hello!
    %h2 I'm Sam and I like to create things. I would like to work together.

  .talk-me
    %h3 A little about me.
    %p
      %span.wd-1
        I am a web developer.
      I love making web apps that are useful, beautiful, and intuitive. I get excited about not only using the best tools for the job, but finding better ones. I believe good design runs through the entire app, that clear, descriptive variable names are just as important as choosing the right font.
    %p
      %span.wd-1
        I love Ruby, but...!
      I first learned to code in Fortran (way back when) and later worked a little with C.  I love the flexibility of Ruby.  Matz definitely hit his mark: "...to enjoy programming, and to be happy. That is the primary purpose of Ruby ...".  Ironically though, gaining a good feel for Ruby has  made me also appreciate the unique strengths of other languages, especially Javascript and R.
    %p
      %span.wd-1
        I have high standards.
      I aspire to be a Senior Developer which to me means gaining a breadth of experience with multiple languages as well as keeping current with new methods and technologies.  It also means finding the most elegant solutions to problems —solutions that are robust but flexible to change as needs and technologies change.  

  .talk-you
    %h3 A little about you.
    %p
      %span.wd-2
        You are a company that is team-oriented.
      You work collaboratively in many phases of development from planning stages through to production. You mostly work on-site and engage in regular stand-ups so the sharing of information and knowledge is easy. 
    %p
      %span.wd-2
        You take the time to mentor.
      Whether it is through pair-programming or other means of sharing knowledge and skills, you take the time to develop your developers.  You provide routine constructive feedback so they can grow and mature their skills.
    %p
      %span.wd-2
        You allow your developers to wear multiple hats.
      To be a well-rounded, full-stack, developer means working on front-end projects, back-end projects and issues of deploying to production.  Someday I may specialize somewhat but at present there is still so much that is new and interesting.  I am eager to learn all I can!

      


  .closer
    %h2 < Hire me now! >
    %p.email samskinnerphd@gmail.com
