.letter
  .welcome
    %h1 Hi, Stembolt.
    %h2 I'm Joe, and I like to build things. I think we should work together.

  .talk-me
    %h3 let's talk about me.
    %p
      %span.wd-1
        I am a web developer.
      I make web apps that are useful, beautiful, and intuitive. I get excited about not only using the best tools for the job, but finding better ones. I believe good design runs through the whole app, that clear, descriptive variable names are just as important as choosing the right font.
    %p
      %span.wd-2
        I am not just a web developer.
      I thrive for adventure. Be it kayaking, hiking, and just about anything outdoors. In fact, the next thrill I seek is hang gliding. I am thrilled of the idea of working with people across the world because we moved into a RV and plan on spending the next year or so travelling. Meeting people in person would be uniquely awesome. I spent the past five years in the military and I really appreciate hard work. While I was in the military I set up multiple educational courses that are still ran today. During my combat deployment I held weekly classes teaching both American and Afghan soldiers the importance of concise communication for airspace, I would consider communication one of my strong points.
    %p
      %span.wd-3
        I just graduated from Dev Bootcamp.
      I started programming before Dev Bootcamp, but I learned more in the past nine weeks than I've ever learned in any other nine week chunk of my life. At Dev Bootcamp, I learned how to learn new things, really quickly. I learned to take pride in writing elegant, clear, tested code.
    %p
      %span.wd-4
        I learned to love Ruby!
      But more importantly, Dev Bootcamp taught me to love learning. I built my final project in Meteor.js because I was curious of the differences between the two frameworks. Meteor's use of DDP (distributed data protocol) was incredibly interesting compared to REST, and it just proves how incredible a career in technology can be. There will always be a wealth of interesting and new technologies that will never run out, and I couldn't be happier with a world like that.

  .talk-you
    %h3 let's talk about Stembolt.
    %p
      %span.wd-5
        You are a company that understands how to help businesses.
      You put the effort in to really solving problems for thousands of people while flexing your team members. You have a team that understands the analytics and the benefits that can come with it.
    %p
      %span.wd-6
        You challenge each other.
      You take the time to produce solutions that fit the needs of businesses. Shying away from adversity is not in your nature if it's best for the client. New challenges are what stretch the experience on your team and I want to be a part of that.
    %p
      %span.wd-7
        You have high standards.
      You have a very experienced team that has worked with a wide variety of technologies. The developers on your team have a high regard for best practices, especially for code that everyone touches. The experience and knowledge the Stembolt team possesses is very inspiring. Just by looking at your team members, I can tell adding a junior developer may be a little unconventional, but I am up for the challenge. I learn really quickly. I don't need to have my hand held along the way. A little support from you guys and I'll get up to speed faster than you expect. I know this because..
    %p
      %span.wd-8
        I have high standards.
      Before Dev Bootcamp, I strived to work harder than anyone else in my cohort. I was working a full-time job in the military while remotely working on phase 0 of Dev Bootcamp. I was never late to a pair programming session and was frequently asked if I had programming experience prior. Once Dev Bootcamp started, I was the first one in most mornings and last one out if I wasn't sleeping there. I became someone that people came to for help and worked on several of my side projects. I insisted on testing when others on my team wanted to skip it. I want to be one of the best developers out there and learning from you at Stembolt is the best way to get started down that road. I'll put in the extra work.


  .closer
    %h2 I love a challenge. Let's talk about it.
    %p.email JoeMarion.io@gmail.com
