.screencast-container
  .title
    %h1 Screencasts

  .first-screencast
    .title
      %h1 Rails Facade
      %hr.rule
    .embed-container
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/21nfWi7Bs5w", :width => "420"}
