.footer-image
  = image_tag('SS-logo.png')
%ul.footer-links
  %li
    = link_to "Home", root_path
  %li
    = link_to "About", about_path
  %li
    = link_to "Resume", resume_path

%p
  &copy; Sam Skinner, 2017. All rights reserved. Full-Stack Rails Developer.
%ul.social-icons
  %li
    %a{:href => "http://www.github.com/samskinnerphd", :target => "_blank"}
      %i.fa.fa-github-alt
  %li
    %a{:href => "https://www.linkedin.com/in/samskinnerphd", :target => "_blank"}
      %i.fa.fa-linkedin
  %li
    %a{:href => "mailto:samskinnerphd@gmail.com", :target => "_blank"}
      %i.fa.fa-envelope
  %li
    %a{:href => "https://scholar.google.com/citations?user=tFD9hkgAAAAJ&hl=en", :target => "_blank"}
      %i.ai.ai-google-scholar
